

<!-- End header -->

	<div class="all-title-box">
		<div class="container text-center">
			<h1 style="color: black;">CONSIDER JOINING MEMBER CLUB<span class="m_1" style="color: gray;">With membership you will get some of these services free of charge</span></h1>
		</div>
	</div>

    <div id="pricing-box" class="section wb">
        <div class="container">
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Silver Member</h3>
                            </span>
                            <span class="price-value">$85<span class="month">/month</span> <span>Initiate Membership </span><span>Welcome to the club</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa fa-envelope-o"></i><strong> Easier</strong>To Get Reservation</li>
                                <li><i class="fa fa-rocket"></i><strong> Free</strong> Breakfast</li>
                                <li><i class="fa fa-database"></i><strong> 5%</strong> Off When Booking</li>
                                <li><i class="fa fa-link"></i><strong> Access</strong> To the Pool</li>
                                <li><i class="fa fa-life-ring"></i><strong> 24/7 Unlimited</strong> Wifi</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up">
                            <a class="hover-btn-new log" href="javascript:void(0)" data-toggle="modal" data-target="#login"><span>Sign up Now</span></a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable pink">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Golden Member</h3>
                            </span>
                            <span class="price-value">150$<span class="month">/month</span> <span>Loyal Customer</span><span>A familiar friend of the motel</span></span>
                        </div>

                        <div class="pricingContent">

                            <ul>
                                <li><i class="fa fa-envelope-o"></i><strong> Availability</strong>Rooms All Time</li>
                                <li><i class="fa fa-rocket"></i><strong> Free</strong> Breakfast and Lunch</li>
                                <li><i class="fa fa-database"></i> <strong> 10%</strong> Off When Booking</li>
                                <li><i class="fa fa-link"></i> <strong> Access</strong> To The Pool,Bar and Club</li>
                                <li><i class="fa fa-life-ring"></i><strong> 24/7 Unlimited</strong> Wifi and Can bring Pets</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricing-table-sign-up">
                          <a class="hover-btn-new log" href="javascript:void(0)" data-toggle="modal" data-target="#login"><span>Sign up Now</span></a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable orange">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Diamond Member</h3>
                            </span>
                            <span class="price-value">$225<span class="month">/month</span> <span>Our VIP guest</span><span>Your contribution to the motel is most valuable</span></span>
                        </div>

                        <div class="pricingContent">

                            <ul>
                              <li><i class="fa fa-envelope-o"></i><strong> VIP</strong> Room Reserved</li>
                              <li><i class="fa fa-rocket"></i><strong> Free</strong> Buffet Area</li>
                              <li><i class="fa fa-database"></i><strong> 15%</strong> Off When Booking</li>
                              <li><i class="fa fa-link"></i><strong> Access</strong> To The Pool,Bar and Club and Casino</li>
                              <li><i class="fa fa-life-ring"></i><strong> 24/7 Unlimited</strong> Wifi and Can bring Pets and Have Signature on our Wall</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up">
                            <a class="hover-btn-new log" href="javascript:void(0)" data-toggle="modal" data-target="#login"><span>Sign up Now</span></a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div>
		</div>
    </div><!-- end section -->


    <div class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our service is here to Serve</h3>
				<div class="dmoain-pricing">
					<div class="table-responsive-sm">
						<table>
							<thead>
								<tr class="domain-head">
									<th scope="col">
										Service Name
									</th>
									<th scope="col">
										Service Type
									</th>
									<th scope="col">
										Service Price
									</th>
									<th scope="col">
										Service Image
									</th>
								</tr>
							</thead>
							<tbody>
								{{#each items}}
								<tr>
									<td data-label="Service ID">{{this.name}}</td>
									<td data-label="Service Name">{{this.type}}</td>
									<td data-label="Service Price">${{this.price}}</td>
									<td data-label="Service Description"><img src={{this.image}} alt="Image" class="img-fluid tm-gallery-img" /></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
            <div class="message-box">
                <a href="#" class="hover-btn-new"><span>Order Now!</span></a>
            </div><!-- end messagebox -->
        </div><!-- end col -->
      </div><!-- end title -->
    </div><!-- end container -->
  </div><!-- end section -->
